{block content}
<div class="row">
    <div class="col s12">
        <div class="col s12 content white p4">
            <div class="col s11 p4">
                <h1 n:block=title>Stránka nenalezena</h1>

                <p>Požadovaná stránka nebyla nalezena. Je možné, že adresa je
                    nesprávná nebo že stránka již neexistuje.</p>

                <p><small>chyba 404</small></p>
            </div>
        </div>
    </div>
</div>
