{block content}
<div class="row">
    <div class="col s12">
        <div class="col s12 content white p4">
            <div class="col s11 p4">
                <h1 n:block=title>Metoda není povolena</h1>

                <p>Požadovaná metoda není pro adresu URL povolena.</p>

                <p><small>chyba 405</small></p>
            </div>
        </div>
    </div>
</div>
