{block content}
<div class="row">
    <div class="col s12">
        <div class="col s12 content white p4">
            <div class="col s11 p4">
                <h1 n:block=title>Stránka nenalezena</h1>

                <p>Požadovaná stránka byla odstraněna z webu. Omlouváme se za nepříjemnosti.</p>

                <p><small>chyba 410</small></p>
            </div>
        </div>
    </div>
</div>
