<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{ifset title}{include title|stripHtml} | {/ifset}DMQ</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{$basePath}/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{$basePath}/css/style.css"/>
</head>
<body>

<nav class="top-nav blue darken-2">
	<div class="container">
		<div class="nav-wrapper">
			<div class="row">
				<div class="col s12 m10 offset-m1">
					<ul id="slide-out" class="sidenav sidenav-fixed blue darken-2 white-text">
						<li><div class="blue darken-2 logo">DMQ</div></li>
						<li><div class="col s12">Menu</div></li>
						<li><a class="waves-effect" n:href="Brand:default">Značky</a></li>
						<li><a class="waves-effect" n:href="ImportBrands:default">Import</a></li>
					</ul>
					<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				</div>
			</div>
		</div>
	</div>
</nav>

<main>
	{ifset breadcrumbs}{include breadcrumbs}{/ifset}
	{snippet flashes}
		<div n:foreach="$flashes as $flash" class="row alert alert-{$flash->type} col s12 flash-message" role="alert">
			<div class="chip col s12 green white-text flash-message-body">
				{$flash->message}
				<i class="close material-icons">close</i>
			</div>
		</div>
	{/snippet}
{include content}
</main>


{snippet modal}
	{if $presenter->isAjax()}
		{ifset #modal}
			<!-- Modal -->
			<div class="modal modal-ajax" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-content modal-dialog">
						<h4 class="modal-title">{block |stripHtml}{include #title}{/block}</h4>
							{include #modal}
						<div class="modal-footer">
							<a class="modal-close waves-effect waves-green btn-flat" data-dismiss="modal" aria-label="Close">Zavřít</a>
						</div>
					</div>
			</div>
		{/ifset}
	{/if}
{/snippet}

<!--JavaScript-->
<script src="{$basePath}/js/jquery.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/materialize.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/main.js"></script>
<script type="text/javascript" src="{$basePath}/js/Naja.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/modal.ext.js"></script>
<script type="module">
	naja.registerExtension(new ModalExtension());
	document.addEventListener('DOMContentLoaded', () => naja.initialize({
		history: false,
	}));
</script>
<script>
	naja.addEventListener('success', event => {
		if (event.detail.payload.showModal === false) {
			$('.modal').modal('hide');
		}
	});

	$('select').on('change', function(){
		naja.makeRequest('GET', {plink default}, { itemsPerPage: parseInt(this.value) });
	});
</script>
</body>
</html>